<%= form_with model: @product, local: true do |f| %>
  <%= f.fields_for :images do |image| %>
    <div class="product-form">
      <div class="form-label">
        <%= image.label :url, "出品画像"%>
        <span>必須</span>
      </div>
      <p>最大10枚までアップロードできます</p>
      <div class="file-box">
        <div class="preview-files"></div>
        <label id="file-label">
          <p>
            <i class="fa fa-camera"></i><br>
            <span id="file-message">
              ドラッグアンドドロップ<br>
              またはクリックでファイルをアップロード
            </span>
          </p>
          <div class="file-form" data-index="<%=image.index%>">
            <%= image.file_field :url, id: "file" %>
          </div>
        </label>
      </div>
      <div class="new-file-box">
        <div class="new-preview-files"></div>
      </div>
      <%= display_error_messages(f.object, :"images.file") %>
    </div>
  <% end %>
  <div class="product-form">
    <div class="form-label">
      <%= f.label :name, "商品名" %>
      <span>必須</span>
    </div>
    <div class="name-form">   
      <%= f.text_field :name, placeholder: "40文字まで", maxlength: "40" %>
    </div>
    <%= display_error_messages(f.object, :name) %>
  </div>
  <div class="product-form product-form_noline">
    <p class="price-caution">価格　(¥300〜9,999,999)</p>
    <div class="form-label price-label">
      <%= f.label :price, "販売価格" %>
      <span>必須</span>
      <i class="fas fa-yen-sign"></i>
      <%= f.number_field :price, class: "price-form", placeholder: "0" %>    
    </div>
    <%= display_error_messages(f.object, :price) %>
    <div class="price-fee">
      <p>販売手数料　(10%)</p>
      <span>ー</span>
    </div>
    <div class="price-profit">
      <p>販売利益</p>
      <span>ー</span>
    </div>
  </div>
  <div class="product-form product-form_bottom">
    <%= f.submit "出品する", class: "btn" %>
    <button class="btn btn-draft">下書きに保存</button>
    <%= link_to "もどる", root_path, class: "return-btn" %>
  </div>
  <div class="product-form">
    <p class="product-caution">
      禁止されている<a href="#">行為</a>
      および<a href="#">出品物</a>
      を必ずご確認下さい。<a href="#">偽ブランド品</a>
      や<a href="#">盗品物</a>
      などのなどの販売は犯罪であり、法律に法律により処罰される可能性があります。
      また、出品をもちまして<a href="#">加盟店規約</a>
      に同意したことになります。
    </p>   
  </div>
<% end %>
  